{
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true,
    "node": true
  },
  "extends": ["airbnb-typescript-prettier", "plugin:@next/next/recommended"],
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "prettier/prettier": ["error", { "endOfLine": "auto" }]
  },
  "settings": {
    "import/resolver": {
      "node": { "extensions": [".ts"], "paths": ["."] }
    },
    "react": {
      "version": "detect"
    }
  },
  "parser": "@typescript-eslint/parser"
}
